<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<form class="form-horizontal" action="login" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Авторизация</legend>

<!-- Text input-->
<div class="form-group" >
  <label class="col-md-4 control-label" for="textinput">Ваш ID</label>  
  <div class="col-md-4">
  <input id="login" name="login" type="text" placeholder="placeholder" class="form-control input-md">
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Ваш пароль</label>
  <div class="col-md-4">
    <input id="password" name="password" type="password" placeholder="placeholder" class="form-control input-md">
  </div>
</div>

<!-- Button -->
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Войти</button>
  </div>


</fieldset>
</form>
</html>